html {
    background-color: #e7cec7;
}

#container {
    width: 70%;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 25px;
    
}

header {
    font-family: 'Fredoka One', cursive;
    font-size: 40px;
    text-align: center;
}

#instructions {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    text-align: justify;
    width: 70%;
    margin: auto;
    border: solid 3px #e7cec7;
    border-radius: 25px;
    padding-left: 40px;
    padding-right: 40px;
}

h2 {
    font-family: 'Fredoka One', cursive;
    font-size: 25px;
    text-align: center;
}

button {
    border: white;
    cursor: grab;
    background-color: white;
    
}

#gamePlay {
    width: 80%;
    margin: auto;
    font-family: 'Karla', sans-serif;
    font-size: 20px;  
    display: flex; 
    justify-content: space-between; 
    
}

#targetNumber {
    width: 300px;
    background-color: #e7cec7;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    height: 200px;
}


#playerCount {
    width: 300px;
    background-color: #e7cec7;
    border-radius: 25px;
    padding-left: 20px;
    height: 200px;
}

#crystalImages {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#randomNum {
    font-family: 'Fredoka One', cursive;
    font-size: 40px;
    text-align: center;
} 

#scoreCount {
    font-weight: bold;
}


img {
    width: 125px;
    
}


img:active {
    cursor: grabbing;
}

